* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.App-header {
	display: flex;
	align-items: center;
	border-bottom: 4px solid#e0374f;
}

.App-header > img {
	height: 250px;
}

.App-header > h1 {
	font-size: 40px;
	color: #e0374f;
}

.App-body {
	font-size: 20px;
	height: 60vh;
	padding-top: 80px;
	padding-left: 45px;
}

.App-body > p {
	margin-bottom: 14px;
}

.App-body > button {
	padding: 3px 6px;
	background-color: transparent;
	box-shadow: 0 0 3px hsl(0, 0%, 0%, 0.5);
	border-radius: 4px;
	border: none;
}

.App-body > input {
	margin-inline: 10px;
}

.App-footer {
	font-size: 20px;
	text-align: center;
	font-style: italic;
	padding: 20px;
	border-top: 4px solid #e0374f;
}