* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#CourseList {
	margin-top: 40px;
	border: 1px solid hsl(0,0%,86%);
	width: 92%;
}

#CourseList thead tr:nth-child(2) th{
	text-align: left;
	border-top: 2px solid hsl(0,0%,86%);
	border-bottom: 2px solid hsl(0,0%,86%);
}

#CourseList td {
	margin-top: 2px;
}