* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.App-body {
	font-size: 20px;
	height: 60vh;
	padding-top: 80px;
	padding-left: 45px;
}

.App-body > p {
	margin-bottom: 14px;
}

.App-body > button {
	padding: 3px 6px;
	background-color: transparent;
	box-shadow: 0 0 3px hsl(0, 0%, 0%, 0.5);
	border-radius: 4px;
	border: none;
}

.App-body > input {
	margin-inline: 10px;
}
